[Unit]
Description=Oasis Auto Spa health check every five minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Unit=oasis-healthcheck.service

[Install]
WantedBy=timers.target
